<!doctype html>
<html>
  <head>
    <link href="assets/favicon.png" rel="icon" type="image/png" />
    <meta charset="utf-8">
    <meta name="description" content="Le Wagon Summer Edition is an intensive 2-weeks Front-End programming bootcamp.
    Change your life, learn to code.">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Facebook Open Graph data -->
    <meta property="og:title" content="Le Wagon Summer Edition" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="assets/station.jpg" />
    <meta property="og:description" content="Le Wagon Summer Edition is an intensive 2-weeks Front-End programming bootcamp.
    Change your life, learn to code." />
    <meta property="og:site_name" content="Le Wagon Summer Edition" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@LeWagonBrussels">
    <meta name="twitter:title" content="Le Wagon Summer Edition">
    <meta name="twitter:description" content="Le Wagon Summer Edition is an intensive 2-weeks Front-End programming bootcamp.
    Change your life, learn to code.">
    <meta name="twitter:creator" content="@LeWagonBrussels">
    <meta name="twitter:image:src" content="assets/station.jpg">

    <!-- Google+ Schema.org markup -->
    <meta itemprop="name" content="Le Wagon Summer Edition">
    <meta itemprop="description" content="Le Wagon Summer Edition is an intensive 2-weeks Front-End programming bootcamp.
    Change your life, learn to code.">
    <meta itemprop="image" content="assets/station.jpg">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- For Bootstrap responsiveness -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Le Wagon Summer Edition" %></title>
    <%= stylesheet_link_tag :site %>
    <%= javascript_include_tag "site" %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
